*{
	box-sizing:border-box;
	font-family: 'Ephesis', cursive;
	border-radius:5px;
}
body{
	background-color:#fdf;
}
.header{
	position:fixed;
	top:0px;
	background-color:#fdf;
}
.call{
	
	
	position:fixed;
	left:80%;
	
	top:70%;
	
}
.WA{
	
	position:fixed;
	left:80%;
	
	top:80%;
	
}
a{
	text-decoration:none;
}
.Cname{
	background-repeat:no-repeat;
	background-size:100%;
	background-attachment:relative;
	background-image:url('background.jpg'); 
	background-color:#ffb224;
	height:150px;
	/* font-size:70px; */
	/* text-align:center; */
	padding-top:50px;
	padding-left:25%;
	
	/* color:#ff4500; */
}
.text{
	background-color:lightgreen;
	display:inline-block;
	/* padding-left:25px; */
	font-size:50px;
	text-align:center;
	
	font-weight:bold;
	color:#ff4500;
}
.Clogo{
	
	background-color:#ffb224;
	text-align:center;
	height:150px;
}
.Menu{
	background-color:#ff4500;
	height:35px;
	text-align:center;
	margin-top:5px;
	padding-top:5px;
	color:white;
}
.Menu a{
	text-decoration:none;
	color:white;
	font-size:20px;
	font-weight:bold;
	display:block;
}
.banner{
	text-align:center;
	width:940px;
	height:250px;
	margin-top:200px;
	background-image:url('banner.jpg'); 
	background-repeat:no-repeat;
	color:white;
font-size:20px;
	
}
.section{
	background-color:#ff4500;
	color:white;
	font-size:25px;
	font-weight:bold;
	display:block;
	padding-top:4px;
	padding-left:35px;
	margin-top:20px;
}
.menu_item{
	/* border-style:solid; */
	height:450px;
	margin-top:8px;
	text-align:center;
	background-color:#ffb224;
	font-weight:bold;
	font-size:20px;
	box-shadow:0px 0px 5px 1px #BEBDBB;
	
   
}
.menu_item:hover button{
	transform:scale(1.3);
}
.menu_item a{
	border:0px;
	background-color:#ff4500;
	text-decoration:none;
	color:white;
	font-size:20px;
	font-weight:bold;
}
button{
	border:0px;
	background-color:#ff4500;
	text-decoration:none;
	color:white;
	font-size:20px;
	font-weight:bold;
}
.map{
	
	margin-top:200px;
}
.contact (,a,h3,h1,h2){
	display:inline-block;
	
	font-size:20px
	
}
.contact{
	margin-top:20px;
	color:gold;
	background-color:gray;
}
.contact >p>a{
	color:gold;
}
.contact1 h2,.add h2{
	display:inline;
	background-color:brown;
	font-size:25px;
	margin-top:200px;
	color:gold;
}

.contact-us a{
	text-decoration:none;
	color:black
}
.contact_form{
margin-top:20px;
background-color:gray;
}
.sectionp{
margin-top:200px;

}
.contact_form{
	font-size:25px;
	
color:gold;
}
.about{
	background-color:#517fa4;
	margin-top:200px;
	margin-right:2px;
	color:black;
	text-align:center;
}
.vision{
	background-image:url('vision.jpg');
	background-repeat:no-repeat;
	color:white;
font-size:20px;
}
.footer,.fMenu{
	background-color:white;
	
	margin-top:20px;
	text-align:left;
}
.f{
	height:400px;
	background-color:white;
	margin-top:20px;
}
.footer a{
	font-size:20px;
	color:red;
}
.credit{
background-color:white;
font-size:10px;
color:black;
text-align:center;
}
span{
font-size:10px;


}
.credit h1{
	display:inline-block;
	font-size:12px
}
.fMenu h1{
	text-align:Left;
}
.fMenu li{
/* display:inline-block; */
margin-top:10px;
font-size:20px;
font-weight:bold;
}
